
*
{
  padding:0;
  margin:0;
}

p
{
  color:white;
}

a
{
  text-decoration:none;
  color:white;
  font-size:25px;
}

header
{
  top:0;
  left:0;
  position:fixed;
  width:100%;
  height:80px;
  background-color:#66fcf1;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}
ul
{
  height:100%;
  
}

li
{
  display:inline-block;
  margin-right:50px;
  height:100%;
  margin-top:20px;
}
#welcome-section
{
  width:100%;
  height: 100vh;
  background-color:#1f2833;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

#projects
{
  width:100%;
  height:50vw;
  background-color:#0b0c10;
}

h1
{
  color:white;
  font-size:80px;
}

#project-work
{
  display:grid;
  grid-auto-flow:column;
  background-color:#1f2833;
  grid-template-areas:". . ."". . .";
  gap:15px;
  justify-content:center;
  margin-top:20px;
}

.project-tile
{
  height:20vw;
  width:20vw;
  background-color:#6f2232;
}

h2
{
  text-align:center;
  color:white;
  font-size:50px;
}

button
{
  margin-top:20px;
  width:120px;
  height:50px;
  color:white;
  background-color:black;
}

#projects
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#information
{
  width:100%;
  height:50vw;
  background-color:#1f2833;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

#social-media
{
  width:100%;
  height:10vh;
}

.fa
{
  background-color:transparent;
  font-size:30px;
}

#border
{
  width:100%;
  height:5px;
  background-color:#C3073F;
}

footer
{
  width:100%;
  height:8vh;
  background-color:1f2833;
  text-align:center;
  padding-top:10px;
}

@media(max-width:500px)
{

}

h3
{
  color:#66fcf1;
  font-size:30px;
}

footer p
{
  font-size:30px;
}

#info
{
  margin-bottom:25px;
}

#social-icons
{
  display:flex;
  flex-direction:row;
  gap:20px;
}

img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    overflow: hidden;
}
p{
    text-align: center;
}



